/*-----------------------------colors----------------------------*/
$google-red: #ea4335;
$btn-col-act: #c35c00;
$twitter-blue: #38a1f3;
$btn-col-hov: #d66f14;
$btn-col-add: #828282;
$facebook-blue: #3b5998;
$text-col: #4f4f4f;
$btn-col: #f2994a;


/*-----------------------------fonts----------------------------*/
$default-font: "Times New Roman";
$Oswald: 'Oswald', Helvetica, Arial, sans-serif;
$Roboto: 'Roboto', Helvetica, Arial, sans-serif;
$Vollkorn: 'Vollkorn', 'Times New Roman', serif;