extends ../template

block variables
	- var title = 'Meat Restaurant'

block content
	include ../sections/2best.pug
	include ../sections/3steaks.pug
	include ../sections/4events.pug
	include ../sections/5halls.pug
	include ../sections/6chef.pug
	include ../sections/7adress.pug
