*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
}

html {
	background-color: white;

	// @include desctop {
	// 	font-size: 16px;
	// }
	// @include tablet-landscape {
	// 	font-size: 15px;
	// }
	// @include tablet-portrait {
	// 	font-size: 15px;
	// }
	// @include tablet-small {
	// 	font-size: 14px;
	// }
	// @include phone-landscape {
	// 	font-size: 13px;
	// }
	// @include phone-portrait {
	// 	font-size: 13px;
	// }
}

body {
	width: 100%;
	font-family: $default-font;
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

/*-----------------настройки контейнера------------------*/
// Жёсткий контейнер

.container {
	flex: 100%;

	// border: 1px solid white;

	@include max {
		max-width: 1300px;
	}

	@include desctop-big {
		//1400px
		max-width: 1150px;
	}

	@include desctop {
		//1200px
		max-width: 970px;
	}

	@include tablet-landscape {
		//980px
		max-width: 750px;
	}

	@include tablet-portrait {
		//768px
		max-width: 550px;
	}

	@include tablet-small {
		//600px
		max-width: 450px;
	}

	@include phone-landscape {
		//480px
		max-width: 90%;
	}

	@include phone-portrait {
		//320px
		max-width: 95%;
	}
}



.wrapper {
	min-height: 100vh;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: normal;
	text-align: center;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a,
a:focus,
a:hover,
a:active,
a:visited,
	{
	text-decoration: none;
	outline: none;
}

p {
	padding: 0;
	margin: 0;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

.section {
	padding: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}