.top-line
	.container.container-top-line
		.top-line_wrapper
			nav.nav
				ul.nav_list
					li.nav_item
						a.nav_link(href="#") Кухня
					li.nav_item
						a.nav_link(href="#") Залы
					li.nav_item
						a.nav_link(href="#") Наш шеф
					li.nav_item
						a.nav_link(href="#") Мероприятия
					li.nav_item
						a.nav_link(href="#") Как добраться
					li.nav_item
						a.nav_link(href="#") Контакты
				.nav_responsive
					svg.nav_icon
						use(xlink:href='assets/sprites/sprite.svg#menu')
			.langs
				ul.langs_list
					li.langs_item
						a.langs_link(href="#")
							img.langs_icon(src='assets/images/russia.svg')
					li.langs_item
						a.langs_link(href="#")
							img.langs_icon(src='assets/images/china.svg')
					li.langs_item
						a.langs_link(href="#")
							img.langs_icon(src='assets/images/united-kingdom.svg')