section.section.steaks
	.container
		h2.main-headline Наши стейки
		.steaks__content
			.steak-card
				.steak-card__image
					img.steak-card__img(src='assets/images/meat2.jpg')
				.steak-card__info
					h3.steak-card__headline.card-headline Филе миньон
					.steak-card__description.text Самый нежный отруб. Самый маленький. И самый ценный. Имеет слабо выраженый вкус мяса. Очень нежная «сливочная» текстура. Должен быть толстым. Содержит мало жира, поэтому подойдет тем, кто следит за весом или потреблением жиров. 
			.steak-card
				.steak-card__image
					img.steak-card__img(src='assets/images/meat1.jpg')
				.steak-card__info
					h3.steak-card__headline.card-headline Стрип Стейк
					.steak-card__description.text Сочный вид стейка, имеет умеренно-выраженный «стейковый» вкус и сильный аромат. Может быть как бескостным, так и на кости.
			.steak-card
				.steak-card__image
					img.steak-card__img(src='assets/images/meat5.jpg')
				.steak-card__info
					h3.steak-card__headline.card-headline Стейк Рибай
					.steak-card__description.text Самый популярный стейк. Имеет маленькие волокна. Богатый аромат говядины. Считается сочным и ароматным стейком. 
			.steak-card
				.steak-card__image
					img.steak-card__img(src='assets/images/meat4.jpg')
				.steak-card__info
					h3.steak-card__headline.card-headline Стейк Томагавк
					.steak-card__description.text Стейк Томагавк – это стейк рибай на кости, с целой реберной костью. Эта длинная кость очищается от мяса и жира, из-за чего она становится похожа на рукоятку, а мясо – на лезвие индейского томагавка. 
 
			
