section.section.events
	.container
		h2.main-headline Мероприятия и акции в нашем ресторане
		.events__content
			.event-card
				.event-card__headline Вечера живой музыки по пятницам
				.event-card__image-wrap
					img.event-card__img(src='assets/images/event2.jpg')
				.event-card__description.text Каждую пятницу для вас играют лучшие группы города
			.event-card
				.event-card__headline Вечера живой музыки по пятницам
				.event-card__image-wrap
					img.event-card__img(src='assets/images/meat1.jpg')
				.event-card__description.text Каждую пятницу для вас играют лучшие группы города
			.event-card
				.event-card__headline Вечера живой музыки по пятницам
				.event-card__image-wrap
					img.event-card__img(src='assets/images/event1.jpg')
				.event-card__description.text Каждую пятницу для вас играют лучшие группы города
			.event-card
				.event-card__headline Вечера живой музыки по пятницам
				.event-card__image-wrap
					img.event-card__img(src='assets/images/meat1.jpg')
				.event-card__description.text Каждую пятницу для вас играют лучшие группы города
