section.section.section1
	.section1-screen 
	.container
		.section-content
			.rest-info
				.main-headline Ресторан «Дело в Мясе»
				.work-info
					.work-info_hours Часы работы: 12.00 - 1.00, ежедневно
					a.work-info_phone(href="tel:+74316510121") +7(431) 651-01-21
				button.reseration-btn.reseration-btn--1section Забронировать столик
				.socials
					ul.socials_list
						li.socials_item
							a.socials_link(href="#")
								svg.socials_icon
									use(xlink:href='assets/sprites/sprite.svg#twitter-logo')
						li.socials_item
							a.socials_link.socials_link--facebook(href="#")
								svg.socials_icon
									use(xlink:href='assets/sprites/sprite.svg#facebook-logo')
						li.socials_item
							a.socials_link.socials_link--google(href="#")
								svg.socials_icon
									use(xlink:href='assets/sprites/sprite.svg#google-logo')
			.button-down
				a.button-down_link(href="#")
					svg.button-down_icon.animated.bounce
						use(xlink:href='assets/sprites/sprite.svg#down-arrow')
